*{
    margin: 0;
    padding: 0;
    background-color: azure;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



header{
    color:rgb(33, 167, 100);
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    margin: 2%;
    margin-left: 25%;

}

#trabajos{ /*Contenedor flex*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:start;
    width: 50%;
    margin-left: 25%;
    font-size: 150%;
  }


li{ /*Elementos flex*/
    list-style: none;
    width: 80%;
    border-color: black;
    border-style: solid;
    padding: 8%;
    margin: 1%;
}


a:link{ color:chartreuse;}

