*{ margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
     }

header {
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
    color: rgb(219, 65, 96);
    letter-spacing: 20px;
}


section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-around;
   width: 80%;
   margin: auto;
}

h2{
    text-align: center;
    padding: 2%;
    padding-top: 4%;
    letter-spacing: 5px;

}

img {
  
    filter: blur(2px);
}

a:hover img {
    filter: blur(0px);
}

footer {
    text-align: center;
    margin-top: 3%;
    font-size: 120%;
    margin-bottom: 4%;
}

a:link{
    color: rgb(219, 65, 96) ;
}

a:visited{
    color: darkorange;
}